@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'asmbly';
	src: url('$lib/fonts/PPGoshaSans-Bold.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'asmbly';
	src: url('$lib/fonts/PPGoshaSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@keyframes gradient-x {
	0% {
		background-size: 400% 400%;
		background-position: left center
	}
	50% {
		background-size: 400% 400%;
		background-position: right center
	}
	100% {
		background-size: 400% 400%;
		background-position: left center
	}

}

.all-under:after {
	content: " ";
	background: linear-gradient(300deg, #292d6a, #568ac8, #00916e, #78cbc3, #f2b51b, #ed6e24, #d33e42);
	background-size: 480% 480%;
	animation: gradient-x 64s ease infinite;
	height: 5px;
	display: block;
	width: 100%;
	margin-top: 0.5rem;
	box-sizing: border-box;
}
